.Wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
    gap: 3em;
    padding: 1em;
    border: 0.15em solid var(--primarycol);
    border-radius: 1em;
}