#task {
    position: absolute;
    top: 1em;
    right: 1em;
    display: flex;
    flex-flow: row nowrap;
    gap: 0.5em;
    border: 0.1em solid var(--primarycol);
    box-shadow: var(--primarycol) 0.5em 0.5em 1em 0.25em;
    padding: 0.5em 0.75em;
    border-radius: 2em;
}
button.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    width: 2.5em;
    border-radius: 50%;
    padding: 0;
    font-size: 1em;
    background-color: var(--secondarycol);
    border: 0.15em solid var(--primarycol);
    transition: 100ms;
    cursor: pointer;
}
button.icon:hover {
    background-color: var(--primarycol);
}
button.icon:hover svg.icon {
    color: var(--secondarycol);
}
svg.icon {
    width: 1.25em;
    height: 1.25em;
    color: var(--primarycol);
}