.card {
    width: 25dvw;
    height: 75dvh;
    position: relative;
    transform-style: preserve-3d;
    transition: 600ms;
    cursor: pointer;
}
.card.flipped {
    transform: rotateY(180deg);
}
.face {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--secondarycol);
    backface-visibility: hidden;
    border-radius: 1.5em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    color: var(--primarycol);
    align-items: center;
    justify-content: center;
    border: 0.15em solid var(--primarycol);
}
.back {
    transform: rotateY(180deg);
}
.face img {
    width: 75%;
    border-radius: 1em;
    border: 0.15em solid var(--primarycol);
}
.face p {
    font-size: 1.15em;
}
