:root {
    --primarycol: royalblue;
    --secondarycol: #1f1e4f;
}
*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
}
.html, body {
    font-size: 16px;
    font-family: 'EB Garamond';
    color: var(--secondarycol);
}
body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 100dvh;
    padding: 1em;
}
.text-header {
    text-align: center;
}
.wrapper {
    display: flex;
    border-radius: 1em;
}
.all-width {
    width: 100%;
}
.wrapper.center {
    justify-content: center;
    align-items: center;
}
.education.wrapper {
    flex-flow: column nowrap;
    padding: 1em 1.5em;
}
div.interest.list {
    flex-flow: row nowrap;
    justify-content: stretch;
    align-items: stretch;
    height: fit-content;
    gap: 1em;
}
div.interest.item {
    flex-flow: column nowrap;
    padding: 1em;
    height: auto;
}
.bordered {
    border: 0.15em solid var(--primarycol);
}
.city.list {
    gap: 1em;
    padding: 1em;
}
.wrapper.text {
    flex-flow: column nowrap;
    height: 100%;
}
.photo.wrapper {
    overflow: hidden;
}
img.photo {
    width: 30dvw;
}
a.photo {
    display: flex;
}
.indented {
    text-indent: 1.5em;
}