.gear-shop {
    height: 120dvh;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 2dvw;
}
.gear-shop h1 {
    margin: 0;
}
.gear-shop p {
    margin: 0.25dvw;
}
.gear-shop-text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}
.gear-list {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-flow: row wrap;
    width: 70%;
    gap: 3dvw;
}
.gear-item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: column nowrap;
    background-color: var(--secondary_color_3);
    width: 20%;
    padding: 2dvw 1dvw 1dvw 1dvw;
    border-radius: 1dvw;
}
.gear-item h3 {
    margin: 0.5dvw 0 0 0;
}
.gear-item p {
    font-size: 1.25rem;
}
.gear-item img {
    width: 60%;
    border-radius: 1dvw;
}
