header, section, footer {
    display: flex;
}
header, footer {
    z-index: 10;
}
section {
    z-index: 1;
}
body {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-flow: column nowrap;
    font-size: 1.5dvw;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}