.Wrapper {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    border: 0.15em solid var(--primarycol);
    border-radius: 1em;
    padding: 1em;
    gap: 1em;
}
.Text {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.Image {
    display: flex;
}
.Image > * {
    width: 30dvw;
    border-radius: 1em;
    border: 0.15em solid var(--primarycol);
}