:root {
    --primarycol: royalblue;
    --secondarycol: #1f1e4f;
}
*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
}
html {
    scrollbar-width: thin;
}
body {
    font-size: 16px;
    font-family: 'EB Garamond';
    color: var(--secondarycol);
}
.wrapper {
    display: flex;
    padding: 1em;
}