.Wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.15em solid var(--primarycol);
    padding: 1em;
    border-radius: 1em;
}
.Editor {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.Image {
    display: flex;
    width: 30dvw;
    height: 40dvh;
    overflow: hidden;
    border-radius: 1em;
    border: 0.15em solid var(--primarycol);
}
.Image > * {
    width: 100%;
}
.Control {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 1em;
}