.Wrapper {
    display: flex;
    justify-content: center;
    width: 30%;
    flex-flow: column nowrap;
    align-items: center;

    border: 0.15em solid var(--primarycol);
    border-radius: 1em;
    padding: 1em;
    gap: 1em;
}
.Image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    aspect-ratio: 1;
    height: auto;
    position: relative;
    margin-bottom: 1.5em;
}
.Wrapper p {
    position: absolute;
    bottom: -2em;
    right: 0;
    color: var(--secondarycol);
    padding: 0.25em 0.5em;
    border-radius: 1em;
    border: 0.15em solid var(--secondarycol);
}
.Image img {
    max-width: 100%;
    max-height: 100%;
}
.Button {
    padding: 0.5em 1em;
    color: var(--secondarycol);
    border: 0.15em solid var(--secondarycol);
    background-color: transparent;
    transition: 100ms;
    cursor: pointer;
    border-radius: 1em;
}
.Button:hover {
    color: var(--primarycol);
    border-color: var(--primarycol);
    background-color: var(--secondarycol);
}