.Wrapper {
    display: flex;
    justify-content: center;
    width: 30%;
    flex-flow: column nowrap;
    align-items: center;

    border: 0.15em solid var(--primarycol);
    border-radius: 1em;
    padding: 1em;
    gap: 0.5em;
}
.Image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    aspect-ratio: 1;
}
.Image img {
    max-width: 100%;
    max-height: 100%;
}
.Button {
    padding: 0.5em 1em;
    color: var(--primarycol);
    border: 0.15em solid var(--primarycol);
    background-color: transparent;
    transition: 100ms;
    cursor: pointer;
}
.Button:hover {
    color: var(--secondarycol);
    border-color: var(--secondarycol);
    background-color: var(--primarycol);
}