.Wrapper {
    display: flex;
    justify-content: center;
    width: 30%;
    flex-flow: column nowrap;
    align-items: center;

    border: 0.15em solid var(--primarycol);
    border-radius: 1em;
    padding: 1em;
    gap: 0.5em;
}
.Image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    aspect-ratio: 1;
}
.Image img {
    max-width: 100%;
    max-height: 100%;
}