html, body {
    width: 100%;
    height: 100%;
}
:root {
    --primarycol: royalblue;
    --secondarycol: #1f1e4f;
}
*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
}
html {
    scrollbar-width: thin;
}
body {
    font-size: 16px;
    font-family: 'EB Garamond';
    color: var(--secondarycol);
}
h1 {
    width: 100%;
    text-align: center;
    padding: 0.5em;
}
.banner {
    width: 100%;
    border-radius: 1em;
}
p {
    text-indent: 2em;
}
p + p {
    margin-top: 0.5em;
}
